body{
	margin:0;
	min-height:100vh;
	overflow-x:hidden;
	line-height:2;
	display:grid;
	font-family: 'Roboto Condensed', sans-serif;
}




.header{
	position:relative;
	margin-top:20px;
	margin-right: 20px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: flex-start;
}

.header{
	width:100%;
	height:auto;
}

.header .logo{
	display: block;
	padding-left:200px;
	padding-top:50px;
	text-transform: uppercase;
}



.header .logo h1{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
	padding:0;
	font-size: 50px;

}

.header .logo h3{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top:-30px;
	padding:0;
}


.navigationBar{
	position: absolute;
	top:110px;
	right:200px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navigationBar{
	list-style: none;
	margin:0;
	padding:0;
}

.navigationBar{
	margin:0.25em;
	padding:1em;
}

.navigationBar a{
	text-decoration: none;
	padding-right:10px;
	padding-left:10px;
	color:grey;
}


.containers{
	width:90%;
	margin:auto;
	max-width: 80rem;
	margin-top:84px;
	margin-bottom: 100px;
	align-items: center center;
}

.video{
	margin:auto;
}

.video video{
	display: block;
	margin:auto;
}

.video .introduction{
	display: block;
	width:650px;
	margin:auto;
	padding-top: 50px;
	padding-bottom: 80px;
}

.video h1{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	padding-bottom: 10px;
	text-align: center;
}

.video p{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
	padding:0;
	text-align: center;
}

.box{
	display: flex;
	box-sizing: border-box;
}

.column{
	flex:33.3%;
	padding:5px;
}

#picture1{
	height:600px;
	position: relative;
	display: flex;
}

#picture2{
	height:600px;
	right:15%;
	position:absolute;
}

.box .column .info{
	margin-top: 50px;
	width:400px;
}

.box .column .info h2{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

.box .column .info h3{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-bottom: -30px;
	color:grey;
}

.box .column .info p{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

.box .column .info li{
	padding-top: 30px;
}







